$redOrange: #E7814B;

.container .container-fluid{
    font-family: 'Ubuntu';
    font-weight: 500;
}
.container-fluid{
    padding: 0;
   
}
.nav-link{
    font-size: large;
}

.text-uppercase{
    font-family: 'Ubuntu';
    font-weight: 500;
    color: #E7814B !important;
}
