@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,400;0,500;0,700;1,400;1,500&display=swap');
@import "../../node_modules/bootstrap/scss/bootstrap.scss";
@import "custom";
body{
    margin: 0;
    font-family: 'Ubuntu';
    font-weight: 400;
}